<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />

        <title>Webpack TypeScript React Template</title>

        <!-- Caching -->
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />

        <!-- Site details -->
        <meta name="keywords" content="react,typescript,webpack,eslint,jest" />
        <meta name="description" content="Optimized template repository for React apps." />

        <!-- Indexing/Google -->
        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />
        <meta name="google" content="nositelinkssearchbox" />
        <meta name="google" content="notranslate" />

        <!-- Skip DNS prefetch-->
        <meta http-equiv="x-dns-prefetch-control" content="off" />

        <!-- OpenGraph, Twitter -->
        <meta name="og:url" content="https://www.example.com" />
        <meta name="og:type" content="website" />
        <meta name="og:title" content="React TypeScript Webpack Template" />
        <meta name="og:description" content="Optimized template repository for React apps." />
        <meta name="og:site_name" content="Example" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@example" />
        <meta name="twitter:url" content="https://www.example.com" />
        <meta name="twitter:title" content="Digital asset minting" />
        <meta name="twitter:description" content="Optimized template repository for React apps." />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://www.example.com" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body>
        <noscript>Your browser does not support JavaScript!</noscript>
        <div id="root"></div>

        <script crossorigin="anonymous" src="<%= cdnReact %>"></script>
        <script crossorigin="anonymous" src="<%= cdnReactDom %>"></script>
    </body>
</html>